{% extends "catalog/base_generic.html" %}

{% block content %}
    <h2>Local Library: Borrowed books</h2>
    {% if bookinstance_list %}
    <ul>
      {% for bookinst in bookinstance_list %}
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        {% if show_borrower %}
          <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }}) --{{ bookinst.borrower }} 
          <a href="{% url 'renew-book-librarian' bookinst.id %}"> >>Renew</a>
        {% else %}
          <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}