{% extends "catalog/base_generic.html" %}

{% block content %}
<h2>Local Library: {{ title }}</h2>
  {% if object_list %}
  <ul>
    {% for obj in object_list %}
      <li>
        {% if model == 'book' %}
        <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> ({{ obj.author }})
        {% elif model == 'author' %}
        <a href="{{ obj.get_absolute_url }}">{{ obj.first_name }} {{ obj.last_name }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
    {% if model == 'author' %}
      <div><a href="{% url 'author-create' %}"> >> Create a new author</a></div>
    {% elif model == 'book' %}
      <div><a href="{% url 'book-create' %}"> >> Create a new book</a></div>
    {% endif %}
  {% else %}
    <p>{{ no_data }}</p>
  {% endif %} 
{% endblock %}